{% if res %}
<b>Ваши рецепты:</b>
{% for recipe in res %}
• <b>{{ recipe["recipe_title"] }}</b>
{% endfor %}
<b>Если вы хотите посмотреть более подробную информацию о рецепте, можете нажать на кнопку</b>
{% else %}
<b>У вас нет рецептов, воспользуйтесь соответствующей кнопкой, чтобы создать</b>
{% endif %}
