<b>Меню бота:</b>

- 📋 <b>Создать новый рецепт</b> – добавь своё уникальное блюдо с ингредиентами.
- 🔍 <b>Получить рецепт по продуктам</b> – введи продукты, которые у тебя есть, и я подберу подходящий рецепт.
- 🌟 <b>Подобрать самый популярный рецепт</b> – посмотрим, какое блюдо набрало больше всего лайков у других пользователей!
- 👀 <b>Посмотреть свои рецепты</b> - посмотри свои рецепты, а также их описание 

Выбери нужный пункт, и я помогу с дальнейшими действиями.
