
Добро пожаловать в бот для подбора рецептов! 🍲

Здесь ты можешь:
- Создать новый рецепт и добавить его в свою коллекцию
- Найти рецепт по доступным продуктам
- Посмотреть свои рецепты
- Подобрать самый популярный рецепт на основе лайков других пользователей 👍

Для начала работы введи команду /menu 

